{% extends "game_tracker/base.html" %}

{% block content %}
  <br />

  {% load static %}

  {% if character_list.all %}
      {% for character in character_list %}
        {% if forloop.counter0|divisibleby:2 %}
          {% if forloop.counter0 > 0 %}
            </div>
          {% endif %}

          <div class="row">
        {% endif %}
        <div class="col-md-6">
          <div class="panel panel-default character" data-character-id="{{ character.id }}">
            <div class="panel-heading">{{ character.name }}</div>
            <div class="panel-body">
              <div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    {% with 'game_tracker/images/'|add:character.image as images_path %}
                      <img class="media-object" src="{% static images_path %}"
                        alt="{{ character.name }}" style="width: 100px; height: 100px;" />
                    {% endwith %}
                  </a>
                </div>
                <div class="media-body">
                  <div class="row">
                    <div class="col-md-6" style="padding-left: 25px;">
                      <div style="font-weight: bold;">Speed</div>
                      <input class="attr-slider" id="speed_{{ character.id }}" type="text"
                        data-slider-ticks="[0,1,2,3,4,5,6,7,8]"
                        data-slider-ticks-snap-bounds="1"
                        data-slider-ticks-labels='{{ character.speed_slide }}'
                        data-slider-value='{{ character.speed_index }}'
                        data-type='speed'
                        data-url="{% url 'update_attr' character.id %}" />

                      <div style="font-weight: bold;">Might</div>
                      <input class="attr-slider" id="might_{{ character.id }}" type="text"
                        data-slider-ticks="[0,1,2,3,4,5,6,7,8]"
                        data-slider-ticks-snap-bounds="1"
                        data-slider-ticks-labels='{{ character.might_slide }}'
                        data-slider-value='{{ character.might_index }}'
                        data-type='might'
                        data-url="{% url 'update_attr' character.id %}" />
                    </div>
                    <div class="col-md-6">
                      <div style="font-weight: bold;">Sanity</div>
                      <input class="attr-slider" id="sanity_{{ character.id }}" type="text"
                        data-slider-ticks="[0,1,2,3,4,5,6,7,8]"
                        data-slider-ticks-snap-bounds="1"
                        data-slider-ticks-labels='{{ character.sanity_slide }}'
                        data-slider-value='{{ character.sanity_index }}'
                        data-type='sanity'
                        data-url="{% url 'update_attr' character.id %}" />

                      <div style="font-weight: bold;">Knowledge</div>
                      <input class="attr-slider" id="knowl_{{ character.id }}" type="text"
                        data-slider-ticks="[0,1,2,3,4,5,6,7,8]"
                        data-slider-ticks-snap-bounds="1"
                        data-slider-ticks-labels='{{ character.knowledge_slide }}'
                        data-slider-value='{{ character.knowledge_index }}'
                        data-type='knowledge'
                        data-url="{% url 'update_attr' character.id %}" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <script type="text/javascript">
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        var csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(document).ready(function() {
            $(".attr-slider").slider({
              tooltip: 'hide'
            });

            $(".attr-slider").change(function(event) {
              changed = $(event.target);

              post_url = changed.data("url");
              type = changed.data("type");
              new_value = changed.val()

              $.post(post_url, {
                attribute: type,
                index: new_value
              }, function(data) {
                if(data.success) {
                  // Succeeded.
                  console.log("Update succeeded.");
                } else if(data.error) {
                  console.log(data.error);
                } else {
                  console.log("Something weird went wrong.");
                }
              }, "json")
            });
        });
      </script>

  {% else %}
    <div class="col-md-8 col-md-offset-4">No characters are loaded.</p>
  {% endif %}
{% endblock %}
