{% extends "game_tracker/base.html" %}

{% block content %}
  <br />

  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body" style="text-align: center;">
        <p>Are you sure you'd like to reset the characters?</p>

        <form action="{% url 'reset' %}" method="post">
          {% csrf_token %}
          <input class="btn btn-primary" type="submit" name="reset" value="Reset" />
          <input class="btn btn-default" type="submit" name="cancel" value="Cancel" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
